.nutrition-overview .button-container .record-nutrition-button {
  background: radial-gradient(#ffff, #fff0eb);
  text-decoration: none;
  font-family: "Varela", serif;
  font-size: 17px;
  border-radius: 4px;
  padding: 8px 14px;
  border: 1px solid rgb(203, 203, 203);
  color: #2c4147;
  margin-left: 18px;
  transition: all 0.2s ease 0s;
}
