.Exercise .exercise-area {
  margin: 20px 110px;
}
.Exercise .exercise-area .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Exercise .exercise-area .title h1 {
  font-size: 38px;
}

.Exercise .overview {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  font-size: 38px;
}
