.nutrition-feed .nutrition-feed-container {
  margin: 10px 70px;
}

.nutrition-feed .nutrition-feed-container .feed {
  background: radial-gradient(#ffff, #d9fffd);
  text-decoration: none;
  font-family: "Varela", serif;
  font-size: 60px;
  border-radius: 4px;
  padding: 58px 214px;
  border: 1px solid rgb(203, 203, 203);
  color: #2c4147;
  margin-left: 18px;
  transition: all 0.2s ease 0s;
}
